.alarm-week {
  display: grid;
  grid-auto-rows: 80px;
  grid-template-columns: repeat(9, calc((100% - 7 * 5px) / 9));
  gap: 5px;
  width: 100%;
  padding: 20px;
  align-items: center;

  .icon-button {
    all: unset;
    cursor: pointer;
    transition: all 200ms ease-out;

    &.large {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      p {
        position: absolute;
        left: 0;
        top: -20px;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        animation: float-up 400ms ease-out;
      }

      span {
        font-size: 22px;
      }
    }

    span {
      font-size: 18px;
    }
  }

  .icon-button:hover {
    scale: 1.1;
  }

  .alarm-time-container {
    display: grid;
    grid-template-columns: 20px calc(100% - 20px);
    grid-template-rows: 100%;
    height: 100%;

    .alarm-time-controls {
      display: inline-flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .alarm-time {
      font-weight: 600;
      font-size: 25px;
      text-align: center;
      margin: 0;
      transition: all 200ms ease-out;
    }

    input[type="time"] {
      background-color: transparent;
      font-size: 16px;
    }

    input[type="time"],
    input[type="time"]:active ,
    input[type="time"]:focus {
      border: none;
      outline: none;
    }
  }

  .alarm-day {
    .day {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
    }
  }

  .alarm-day-value {
    all: unset;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;

    transition: all 200ms ease-out;
  }

  .alarm-day-value:hover:not(app-scene-audio){
    scale: 1.05;
  }
}

@media (max-width: 1250px) {
  .alarm-week {
    grid-template-columns: 100px 150px repeat(7, 150px);
    overflow-x: scroll;
  }
}

@keyframes float-up {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}