<div class="alarm-week">
    <div></div>
    <div></div>
    <ng-template ngFor let-day [ngForOf]="DAYS">
        <div class="alarm-day">
            <p class="day">{{day.name}}</p>
        </div>
    </ng-template>
    <ng-template ngFor let-alarm [ngForOf]="alarms">
        <ng-container *ngIf="aboutToDelete === alarm.id else alarmTime">
            <button class="icon-button large"
                    (click)="aboutToDelete = -1">
                <p>Delete alarm: {{alarm.time}}?</p>
                <span class="material-symbols-rounded" style="color: var(--lemon-meringue)">cancel</span>
            </button>
            <button class="icon-button large" (click)="deleteAlarm(alarm)">
                <span class="material-symbols-rounded" style="color: var(--maximum-red)">delete</span>
            </button>
        </ng-container>

        <ng-template #alarmTime>
            <div class="alarm-time-container">
                <div class="alarm-time-controls">
                    <ng-container *ngIf="alarm.id !== editing else editTimeControls">
                        <button class="icon-button" (click)="aboutToDelete = alarm.id">
                            <span class="material-symbols-rounded" style="color: var(--maximum-red)">delete</span>
                        </button>
                        <button class="icon-button" (click)="openTimeEditor(alarm.id, alarm.time)">
                            <span class="material-symbols-rounded" style="color: var(--lemon-meringue)">edit</span>
                        </button>
                    </ng-container>

                    <ng-template #editTimeControls>
                        <button class="icon-button" (click)="editing = -1">
                            <span class="material-symbols-rounded" style="color: var(--maximum-red)">cancel</span>
                        </button>
                        <button class="icon-button" (click)="editAlarmTime(alarm)">
                            <span class="material-symbols-rounded" style="color: var(--lemon-meringue)">check</span>
                        </button>
                    </ng-template>
                </div>
                <button *ngIf="alarm.id !== editing else editTime"
                        class="alarm-day-value"
                        [style.opacity]="alarm.active ? '100%' : '50%'"
                        (click)="alarm.active = !alarm.active">
                    <p class="alarm-time">{{alarm.time}}</p>
                </button>
                <ng-template #editTime>
                    <input type="time" [(ngModel)]="editedTime" autofocus/>
                </ng-template>
            </div>
            <app-scene-audio class="alarm-day-value"
                             [(activeResource)]="alarm.spotifyResource"
                             [(activeVolume)]="alarm.maxVolume"
                             [small]="true">
            </app-scene-audio>
        </ng-template>

        <ng-template ngFor let-day [ngForOf]="DAYS">
            <button class="alarm-day-value"
                    style="width: 90%; height: 90%;"
                    (click)="toggleScheduleDay(alarm, day.id)"
                    [style.background-color]="computeAlarmBadgeColor(alarm, day.id)">
            </button>
        </ng-template>
    </ng-template>
</div>