<div class="scene" [class.default-scene]="scene.defaultScene">
    <div class="head">
        <app-hidden-input placeholder="Name"
                          [inputStyle]='{
                        "font-size": "1.5em",
                        "margin-block-start": "0.83em",
                        "margin-block-end": "0.83em",
                        "margin-inline-start": "0",
                        "margin-inline-end": "0",
                        "font-weight": "bold",
                        "text-transform": "uppercase",
                        "width": "250px"
                      }'
                          [initialValue]="scene.name"
                          [lengthLimit]="50"
                          (saveRequest)="renameScene($event)">
        </app-hidden-input>
        <button *ngIf="!scene.defaultScene" (click)="requestDelete()">
            <span class="material-symbols-rounded">delete</span>
        </button>
    </div>

    <div class="lights">
        <div *ngFor="let light of scene.lights; let i = index"
             class="light" >
            <div class="config-title">
                <h4>{{light.device.name | uppercase}} - </h4>
                <select class="simple-select"
                        (ngModelChange)="configChanged(i, $event)"
                        [(ngModel)]="light.lightConfig.name">
                    <option *ngFor="let lightConfigOption of allLightConfigs"
                            [value]="lightConfigOption.name" [defaultSelected]="light.lightConfig.name === lightConfigOption.name">
                        {{lightConfigOption.name}}
                    </option>
                </select>
            </div>
            <app-light-config [lightConfig]="light.lightConfig"
                              [index]="i"
                              [openEditorId$]="openLightConfigEditorSubject.asObservable()"
                              (requestToggleOpen)="toggleOpen(i)">
            </app-light-config>
        </div>
    </div>

    <app-scene-audio [(activeResource)]="scene.spotifyResource" (activeResourceChange)="edited = true"
                     [(activeVolume)]="scene.spotifyVolume" (activeVolumeChange)="edited = true">
    </app-scene-audio>

    <div class="controls">
        <app-fancy-button *ngIf="edited else notChanged"
                          backgroundText="save"
                          (buttonClicked)="saveChanges()"
                          buttonIcon="save">
        </app-fancy-button>
        <ng-template #notChanged>
            <div></div>
        </ng-template>
        <app-fancy-button backgroundText="run" (buttonClicked)="applyScene()" buttonIcon="bolt"></app-fancy-button>
    </div>
</div>

<app-verify-popup [(open)]="deleting" (responded)="deleteSceneIfApproved($event)">
    <p>Do you really want to delete scene {{scene.name}}?</p>
</app-verify-popup>