.message-type-badge {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  width: fit-content;
  background-color: color-mix(in srgb, var(--lemon-meringue) 40%, transparent);

  &.error {
    background-color: color-mix(in srgb, var(--maximum-red) 50%, transparent);
  }
}

.details {
  display: flex;
  flex-flow: column;
  margin-left: 5vw;

  .scene-responses {
    margin-left: 5vw;

    .response {

      .failed-response {
        margin-left: 5vw;
      }
    }
  }


  h3 {
    margin: 10px 0 0 0;
  }

  .stack {
    word-break: break-all;
  }
}