.component-container {
  display: flex;
  justify-content: center;

  .element {
    min-width: 250px;
    width: 90%;
    max-width: 500px;

    display: flex;
    flex-direction: column;

    button, a {
      all: unset;
      padding: 10px 20px;
      align-self: flex-end;
      cursor: pointer;

      border-radius: 30px;
      border: none ;
      color: var(--black);
      background-color: var(--lemon-meringue);
      font-size: 15px;
      font-family: 'Work Sans', sans-serif;

      transition: all 250ms ease-out;
    }

    button:hover {
      filter: brightness(110%);
    }

    button:active {
      filter: brightness(140%);
    }
  }
}