.player-container {
  display: grid;
  gap: 20px;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-template-rows: 320px;

  .album-cover {
    width: 300px;
    height: 300px;
    transition: all 250ms ease-out;
    justify-self: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .album-cover:hover {
    scale: 1.02;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);
  }

  .player {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    .controls {
      display: grid;
      gap: 15px;
      grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
      grid-template-rows: 70px;
      width: 100%;
      margin-top: 5px;

      justify-items: center;
      align-items: center;
      justify-self: center;

      background: rgb(234,226,183);
      background: linear-gradient(126deg, rgba(234,226,183,1) 0%, rgba(238,199,134,1) 50%, rgba(247,127,0,1) 100%);
      border-radius: 35px;

      button {
        all: unset;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-out;

        span {
          font-size: 30px;
        }
      }

      button:hover {
        scale: 1.1;
        color: #e5e5e5;
      }

      button:active {
        scale: 1.2;
        color: #cbcbcb;
      }
    }
  }
}

.disclaimer {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

@media (max-width: 750px) {
  .player-container {
    display: flex;
    flex-flow: column;

    .album-cover {
      width: 80vw;
      height: 80vw;
      align-self: center;
    }

    .player {
      h2,h3 {
        margin: 0;
      }
    }
  }
}