<h1>Available resources</h1>
<h3>Max. 50</h3>
<div class="spotify-resources" *ngFor="let resource of (resources$ | async)">
    <a class="scene" [href]="resource.href" target="_blank">
        <img [src]="resource.imageUrl" alt="😢"/>
        <div class="info">
            <p class="name">{{resource.name}}</p>
            <p class="description" [innerHTML]="resource.description"></p>
        </div>
        <button class="play" (click)="playPlaylist(resource, $event)">
            <span class="material-symbols-rounded">play_arrow</span>
        </button>
    </a>
</div>