<ng-container *ngIf="!callback && (spotifyAuthorisation$ | async) else unauthorized">
    <h1>Spotify connected!</h1>
    <app-spotify-player></app-spotify-player>
    <app-spotify-resources></app-spotify-resources>
    <div class="restart-speaker">
        <app-fancy-button backgroundText="speaker" (buttonClicked)="restartSpeaker()" buttonIcon="restart_alt"></app-fancy-button>
    </div>
</ng-container>
<ng-template #unauthorized>
    <app-spotify-authorisation
            [client]="spotifyClient"
            [code]="spotifyCode"
            [error]="spotifyError"
            [state]="spotifyState">
    </app-spotify-authorisation>
</ng-template>