::ng-deep chrome-picker {
  width: 100% !important;
  background-color: transparent !important;
  box-shadow: none !important;

  saturation-component {
    border-radius: 5px !important;

    .pointer {
      width: 15px !important;
      height: 15px !important;
      border: 1px var(--white) solid !important;
      outline: 0.5px solid var(--black);
    }
  }

  .type-column {
    display: none !important;
  }

  rgba-input-component {
    .column {
      input {
        background-color: var(--white);
        border: none;
        border-radius: 5px;
        color: var(--black);
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        pointer-events: none;
      }
      span {
        color: var(--white);
        font-family: "Work Sans", sans-serif;
        font-weight: lighter;
        font-size: 14px;
        text-transform: lowercase;
      }
    }
  }
}